.sans {
	font-family: 'Nunito', sans-serif;
}

.serif {
	font-family: 'Cinzel', serif;
}

a, span, p, ul, li {
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel', serif;
}

.fixed-top {
	background: rgba(255, 255, 255, 0.5);
}

.slider{
	background: url("images/bg-1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.logo-xl{
	position: relative;
	height: 600px;
	min-height: 500px;
	background: url("images/logo-xl.png");
}

.border-right {
	border-right: 1px solid #84878c;
}

.border-left {
	border-left: 1px solid #84878c;
}

.servicios{
	background-color: rgb(1, 91, 126);
	position: relative;
}

.clientes{
	background: url("images/logo-xl.png");
	background-size: cover;
	background-position: bottom;
}

.clientes h2 {
	color: #84878c;
}

.aliados{
	background-color:rgb(223, 234, 238);
}

.filosofia{
	background: url("images/bg-2.jpg");
	height: 550px;
	min-height: 500px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.filosofia h1 {
	color: #244677;
}

.filosofia-pills.nav-pills .nav-link {
	background: none;
	color: white;
	/*font-size: 18px;*/
}

.filosofia-pills.nav-pills .nav-link.active {
	background: none;
	color: #244677;
}

.filosofia-pills.nav-pills .nav-link.active::after {
	width: 100px;
	height: 2px;
	border-bottom: 1px solid #244677;
	display: block;
	content: "";
	margin: 0 auto;
}

.filosofia-tab-content .tab-pane p {
	color: white;
	font-size: 18px;
}

.overlay-computer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("images/img-1.png") no-repeat 60% bottom;
}

.blue-font {
	color: #244677;
}

.gray-font {
	color: #84878c;
}

/* Custom styles */

.mc-cv {
	color: #84878c;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
}

.mc-dropdown {
	background: #e3e4e5;
	border: none;
	padding: 0;
}

.line {
	border-top: 1px solid #244677;
	margin: 0 30px;
	margin-bottom: 15px;
}

.mc-hamburguer {
	cursor: pointer;
	border: none;
	background: none;
}

.mc-dropdown-title {
	padding: 0 15px 7px 15px;
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	color: #244677;
}

.mc-dropdown-item {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.footer{
	background-color: rgb(195, 199, 208);
}

.blue{
	color: rgb(1, 91, 126);
	margin-top: 5px;
}

.margin-1{
	margin-right: 18px;
}

p.blue{
	margin: 0;
}

.inblock{
	display: inline-block;
}

.mc-direccion{
	width: calc(100% - 35px);
	margin-bottom: 0;
}

.blue-half-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(161, 195, 208,0.5);
}

.blue-half-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: rgba(0, 91, 127, 0.5);
}

.menu-startup:hover{
	background: rgb(1, 60, 104);
}

.menu-startup svg>g{
	opacity: 0.53;
}

.menu-startup:hover svg>g{
	opacity: 1;
}

.menu-startup:hover svg path{
	fill: white;
}

.menu-startup{
	height: 100%;
}

.menu-startup h5{
	line-height: 1.5;
	width: 100%;
}

.menu-startup .menu-title {
	display: flex;
	width: 100%;
	vertical-align: middle;
	height: 80px;
	align-items: center;
}

.border-white {
	border-top: none;
	border-bottom: none;
	border-right: rgb(0, 0, 0) solid 1px;
	border-left: rgb(0, 0, 0) solid 1px;
}

.bottom-to-top {
    border-width: 1px;
    border-style: solid;
    -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from(white), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, white, rgba(0, 0, 0, 0)) 1 100%;
}
