.slider{
	background: url("images/bg-1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.logo-xl{
	background: url("images/logo-xl.png");
}

.border-right{
	border-right: 1px solid black;
}

.service{
	background-color: rgb(1, 91, 126);
}