.slider{
	background: url("images/bg-1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.logo-xl{
	position: relative;
	height: 80vh;
	background: url("images/logo-xl.png");
}

.border-right{
	border-right: 1px solid black;
}

.servicios{
	background-color: rgb(1, 91, 126);
}

.clientes{
	background: url("images/logo-xl.png");
	background-size: cover;
	background-position: bottom;
}

.aliados{
	background-color:rgb(223, 234, 238);
}

.overlay-computer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("images/img-1.png") no-repeat right bottom;
}